<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-chat fixed-top p-0" id="teste">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center" href="#">
    Chat Node
    <span><i class="fas fa-comment pl-1"></i></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExampleDefault">
    <a href="/dashboard"><i class="fas fa-cog"></i></a>
    <ul class="navbar-nav pl-1 pr-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><span class="lbl-nav-nome">{{currentUser.name}}</span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/" (click)="logout()">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- SIDEBAR -->
<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <div class="text-center py-3">
      <img src="../../../assets/images/user2.png" class="img-rounded" alt="..." width="165" height="155">
    </div>

    <ul class="nav flex-column">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center font-weight-bold px-3 mt-4 mb-1">
        <span>PAINEL DE CONTROLE</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <!-- <span data-feather="plus-circle"></span> -->
        </a>
      </h6>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/rooms']" routerLinkActive="active shadow">
          <span><i class="fas fa-comments"></i></span>
          Salas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span><i class="fas fa-comment"></i></span>
          Mensagens
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <!-- <span><i class="fas fa-archive"></i></span> -->
          Indisponível no momento
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <!-- <span><i class="fas fa-archive"></i></span> -->
          Indisponível no momento
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center font-weight-bold px-3 mt-4 mb-1">
      <span>Utilidades</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <!-- <span data-feather="plus-circle"></span> -->
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="fas fa-question-circle"></i></span>
          Ajuda
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><i class="fas fa-info"></i></span>
          Sobre
        </a>
      </li>

    </ul>
  </div>
</nav>

<!-- MAIN -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
  <!-- Show child components here -->
  <router-outlet></router-outlet>
</main>