/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* .navbar {
    height: 100%;
    padding: 10.5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
} */

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.nav-icon{
    font-size: 22px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    /* background: #7386D5; */
    background: rgb(92, 202, 149);
    color: #fff;
    transition: all 0.3s;
    overflow: auto;
}

#sidebar::-webkit-scrollbar{
    width:5px;
    background:transparent;
}

/* #sidebar::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.1);
} */

#sidebar::-webkit-scrollbar-thumb{
    width: 2.5px;
    border-radius:10px;
    /* border: 1px solid white; */
    background:rgba(255, 255, 255, 0.75);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 18.5px;
    height: 65px;
    /* background: #6d7fcc; */
    background: rgb(85, 187, 138);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(92, 202, 149);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(85, 187, 138);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(85, 187, 138);
}

ul.CTAs {
    padding: 0px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.btn-collpase{
    position: absolute;
    top: 14px;
    left: 10px;
    background-color: #55BB8A;
    color: white;
    z-index: 2000;
}
/* ---------------------------------------------------
    TESTES
---------------------------------------------------*/
.painel{
    width: 100%;
    height: calc(100vh - 70px);
    /* overflow: auto; */
    /* background-color: #f4f4f4; */
}

.navbar-footer{
    width: 100%;
    height: 70px;
    /* ----------- */
    border: none;
    border-radius: 0;
    box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.1);
    /* position: relative; */
    position: absolute;
    bottom: 0;
    /* ---------- */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}