<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" #sidebar [ngClass]="{'active': collapsed}">
    <div class="sidebar-header">
      <h3>Chat Node<span><i class="fas fa-comment pl-2"></i></span></h3>
    </div>

    <ul class="list-unstyled components">
      <div class="text-center py-3">
        <img src="../../../assets/images/user2.png" class="img-rounded" alt="..." width="155" height="145">
      </div>
      <p class="text-center">Diêvano Dantas</p>
      <hr>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Salas</a>
          </li>
          <li>
            <a href="#">Mensagens</a>
          </li>
          <li>
            <a href="#">Contatos</a>
          </li>
        </ul>
      </li>

      <!-- <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li> -->
      <li>
        <a href="#">Suporte</a>
      </li>
      <li>
        <a href="#">Sobre</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <!-- <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li> -->
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" #content [ngClass]="{'active': collapsed}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-collpase" (click)="collapseSidebar()">
          <!-- <i class="fas fa-align-left"></i> -->
          <!-- <i class="fas fa-align-justify"></i> -->
          <i [ngClass]="collapsed ? 'fas fa-angle-right' : 'fas fa-angle-left'"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li> -->
            <li class="nav-item mr-2">
              <span class="nav-link nav-icon">
                <i class="fas fa-user-cog"></i>
              </span>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" data-display="static"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="nav-link nav-icon"><i class="fas fa-ellipsis-v"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Sair <span><i class="fas fa-sign-out-alt"></i></span></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="painel">

    </div>

    <div class="navbar-footer navbar-expand-lg navbar-light bg-light">

    </div>

  </div>
</div>