<!-- NavBar Content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <!-- <button type="button" id="sidebarCollapse" class="btn btn-collpase" (click)="collapseSidebar()">
            <i [ngClass]="collapsed ? 'fas fa-angle-right' : 'fas fa-angle-left'"></i>
        </button> -->

        <a [routerLink]="['/home/rooms']" role="button">
            <span class="btn-back-room">
                <i class="fas fa-arrow-left"></i>
                Voltar
            </span>
        </a>

        <div class="card-nav-icon ml-3">
            <div class="img-nav">
                <img src="../../../../../assets/images/home.png" class="img-rounded" alt="..." width="40" height="35">
            </div>

            <div class="card-nav-icon-body">
                <span class="title-room">{{nameRoom}}</span>
                <span class="description-room">{{descriptionRoom}}</span>
            </div>

        </div>

        <button class="btn btn-secondary d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Page</a>
          </li> -->
                <li class="nav-item mr-2">
                    <span class="nav-link nav-icon">
                        <i class="fas fa-user-cog"></i>
                    </span>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" data-display="static"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="nav-link nav-icon"><i class="fas fa-ellipsis-v"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/" (click)="logout()">Sair <span><i
                                        class="fas fa-sign-out-alt"></i></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <section class="messages">
        <div class="screen-mgs" #scrollMsg [scrollTop]="scrollMsg.scrollHeight">

            <div *ngFor="let item of groupMessages">
                <div class="row row-msg" *ngIf="verifyDate(item.createdAt)">
                    <div class="cont-date">
                        <span class="lbl-date">{{formatDateMsg(item.createdAt)}}</span>
                    </div>
                </div>

                <div class="row row-msg">
                    <div class="col">
                        <div [ngClass]="item.user.nickname === currentUser.nickname ? 'bg-msg-me' : 'bg-msg-he'">
                            <span class="lbl-nick px-2">{{item.user.nickname}}</span><br>
                            <span class="lbl-cont-msg px-2 pb-1">{{item.content}}</span>
                            <span class="lbl-time-msg">{{item.createdAt | date: 'HH:mm'}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="write-mgs">
        <div class="card-write-msg">
            <form>
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-10">
                        <!-- <input type="text" class="form-control" placeholder="Digite algo aqui..."> -->
                        <input type="text" class="form-control" [(ngModel)]="messageText" name="messageText"
                            [ngClass]="{ 'is-invalid': !messageValidator }" placeholder="Escreva uma mensagem...">
                        <!-- <div *ngIf="!messageValidator" class="invalid-feedback">
                            <div *ngIf="!messageValidator">Mensagem em branco!</div>
                        </div> -->
                    </div>
                    <div class="col-md-2 col-sm-2 col-2">
                        <button type="button" class="btn btn-success btn-block" (click)="send()"><i
                                class="fab fa-telegram-plane"></i> Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
